body {
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	margin: 0px;
	padding: 5px;
	overflow: hidden;
}
nav{
	background-color: #e6e6e6;
	margin: 0px;
	padding: 5px 10px;
	display: flex;
	justify-content: space-between;
	font-family: monospace;
	font-size:18px;
	opacity: 0.85;
	border-radius: 40px;
}
.logo{
	border-radius: 50%;
	height: auto;
	width: 50px;
	vertical-align: middle;
	position: relative;
	top:15%;
	left:50%;
	}
ul{
	list-style: none;
	display: flex;
	justify-content: space-between;
}
li{
	padding: 0px 20px;
	font-weight: bold;
}
a{
	text-decoration:none;
}
.logo:hover{
	transform: scale(1.2);
}
nav:hover{
	opacity: 1;
}
li:hover{
	transform: scale(1.2);
}
